.ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 120%;
    right: 0;
    /* right: 0; */
    min-width: 350px;
    max-width: max-content;
    height: max-content;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    background-image: linear-gradient(to right, #2c2231, #171d32);
    z-index: 5;
}

.ul>li{
    list-style: none;
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'light';
    font-size: 15px;
    color: #fff;
    padding: 0px 10px;
    transition: all 1000ms ease-in;
}

.ul>li:hover{
    box-shadow: 2px 2px 20px 2px #2c2231;
    background-image: linear-gradient(to right, rgb(51, 21, 21), rgb(30, 30, 92));
    border: 1px solid #c2c1c1;
    border-radius: 5px;
    transition: all 1000ms ease-in;
  }
  
  @media screen and (max-width: 770px) {
 .ul{
    margin: 0;
    padding: 0;
    min-width: 100%;
    max-width: max-content;
    height: max-content;
    border-radius: 10px;
    padding: 5px 10px;
    position: none;
    top: 0;
    right: 0;
    position: unset;
    background-image: linear-gradient(to right, transparent, transparent);
    background-color: transparent;
 }
 
 
   .ul>li{
       list-style: none;
       width: 100%;
       min-height: 40px;
       display: flex;
       justify-content: flex-start;
       align-items: center;
       font-family: 'light';
       font-size: 15px;
       color: #fff;
       padding: 0px 10px;
       transition: all 1000ms ease-in;
   }
   
   .ul>li:hover{
       box-shadow: 2px 2px 20px 2px #2c2231;
       background-image: linear-gradient(to right, rgb(51, 21, 21), rgb(30, 30, 92));
       border: 1px solid #c2c1c1;
       border-radius: 5px;
       transition: all 1000ms ease-in;
     }   
 }