
.promotionPane{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 80px;
    overflow-x: auto;
    background-color: var(--dim-bg);
    column-gap: 20px;
}

.promotionPane::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.jobList{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    min-width: max-content;
    position: relative;
    animation: slide 20s infinite linear;
    /* animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;  */
}

.jobList>img{
    width: 30px;
    height: 30px;
}

.jobList>h1{
    color: #000;
    font-size: 25px;
    font-family: 'light';
}

/* .move-horizontal {
    animation: slide 2s infinite linear;
  } */
  
  @keyframes slide {
    /* from { transform: translateX(0); } 
    to { transform: translateX(100%); }  
    */
    0% {
        right: -100%;
      }
      100% {
        right: 100%;
      }
  }