.hero {
    background-image: url('../images/earthAsset.png');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

input::placeholder {
    color: black;
    font-size: 14px;
    opacity: 1;
    /* Firefox */
}

.bsweu {
    background-image: url("../images/BSEU.svg");
    background-repeat: no repeat;
    background-position: center;
    background-size: cover;
}

.bswuk {
    background-image: url("../images/BSUK.svg");
    background-repeat: no repeat;
    background-position: center;
    background-size: cover;
}


.euflag {
    background-image: url("../images/flageu.png");
    background-size: cover;
    background-position: center;
}

.ukflag {
    background-image: url("../images/flaguk.png");
    background-size: cover;
    background-position: center;
}

.banner-container {
    overflow: hidden;
    display: flex;
    background-image: url('../images/banner-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* width: 1500px; */
    margin: 0 auto;
}

.scroll-container {

    overflow: hidden;
}

.scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 20s linear infinite;
    -webkit-animation: my-animation 20s linear infinite;
    animation: my-animation 20s linear infinite;
}

.scroll-container :hover {
    animation-play-state: paused;
    cursor: pointer;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

}

.banner-container div {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


/* .banner-container :hover {
    animation-play-state: paused;
    cursor: pointer;
} */

.bg-home {
    background-image: url('../images/home-bg.png');

    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 150px;
}

.back-filter {
    backdrop-filter: blur(10px);
}