.parent{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    row-gap: 20px;
    background-image: linear-gradient(to right, #2c2231, #171d32);
    padding-top: 3rem;
    padding-left: 10%;
    padding-right: 10%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header>h1{
    font-size: 35px;
    color: #fff;
    margin: 0;
    font-family: 'bold';
}

.header>button{
    background-image: linear-gradient(to right, #111C33, #2E2230);
    /* height: 50px; */
    border: none;
    color: #fff;
    font-family: 'light';
    font-size: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


.box{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px; 
}

.inputContainer{
    width: calc(100% - 10rem);
    height: fit-content;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}


.input{
    width: 100%;
    min-height: 50px;
    outline: none;
    border: none;
    background-color: var(--dim-bg);
    border-radius: 10px;
    font-family: 'light';
    font-size: 20px;
    /* padding-right: 50px; */
    padding-left: 10px;
}

.input::placeholder{
    font-family: 'light';
    font-size: 20px;
    padding: 0px 10px;
    color: #000;
}


.searchContainer{
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
}

.searchContainer>img{
    width: 25px;
    height: 25px;
}

.searchBtn{
    background-image: linear-gradient(to right, #111C33, #2E2230);
    height: 50px;
    border: none;
    color: #fff;
    font-family: 'light';
    font-size: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    /* padding: 0px 20px; */
    min-width: 10rem;
    cursor: pointer;
}

.selectorContainer{
    padding: 0px 20px;
    min-height: 50px;
    max-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    column-gap: 20px;
    background-image: linear-gradient(to right, #111C33, #2E2230);
}

.icon{
  width: 20px;
  height: 20px;
  filter: invert(1);
}


.selectorContainer>p{
    font-size: 20px;
    font-family: 'light';
    color: #fff; 
}

.dropdown{
    width: 10px;
    height: 10px;
    filter: invert(1);
}

.selectorContainer2{
    padding: 0px 20px;
    min-height: 50px;
    max-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    column-gap: 20px;
    background-color: var(--dim-bg);
}

.icon2{
  width: 20px;
  height: 20px;
}


.selectorContainer2>p{
    font-size: 20px;
    font-family: 'light';
    color: #000;
    
}

.dropdown2{
    width: 10px;
    height: 10px;
}

.searchSpan{
    background-image: linear-gradient(to right, #111C33, #2E2230);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid #c8c6c6;
    min-width: 40px;
    min-height: 40px;
}

.searchSpan>img{
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.allJobsParent{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

.allJobsBlack{
    min-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
    background-color: #4b4b4b62;
    padding: 20px 0px;
    margin-bottom: 20px;
}

.leftSide{
    min-width: 40%;
    min-width: 500px;
    /* height: 100%; */
    min-height: 700px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    padding: 0px 20px;
}


.rightSide{
    min-width: calc(100% - 500px);
    /* height: 100%; */
    min-height: 700px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    padding-right: 20px;
    box-sizing: border-box;
    padding-bottom: 10px;
}


.top{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;
}

.backwardIconContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 5px;
}


.backIcon{
   width: 18px;
   height: 18px;
   filter: invert(1);
}

/* .centerDetail{
  width: 100%;
  max-height: (700px - 70px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
} */

/* .centerDetail::-webkit-scrollbar{
    width: 5px;
} */

.nav{
    width: 100%;
    min-height: 50px;
    background-color: var(--dim-bg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    column-gap: 10px;
    padding: 0px 5px;
}

.jobTypeBtn{
    width: 33.33%;
    color: #000;
    background-color: var(--dim-bg);
    border: none;
    border-radius: 5px;
    border: 2px solid #2E2230;
    padding: 6px 10px;
    font-family: 'light';
    font-size: 15px;
    cursor: pointer;
}

.selected{
    background-image: linear-gradient(to right, #111C33, #2E2230);
    color: #fff;
}

.statusTxt{
    font-family: 'light';
    color: var(--dim-bg);
    margin: 0;
    font-size: 12px;
}

.reloadBtn{
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'light';
    cursor: pointer;
}

.unorderedList{
    width: 100%;
    height: fit-content;
    max-height: calc(700px - 70px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 10px 5px;
    row-gap: 5px;
    cursor: pointer;
}

.unorderedList::-webkit-scrollbar{
    /* width: 5px; */
}

.unorderedList>li{
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    background-color: var(--dim-bg);
    display: flex;
    padding: 10px;
}

.profileBox{
    width: 100px;
    min-height: 100%;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'bold';
    font-size: 25px;
}

.detailContainer{
    width: calc(100% - 125px);
    height: 100%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}


.jobTitle{
    font-family: 'bold';
    font-size: 25px;
    margin: 0;
    color: #212121;
}

.name{
    font-family: 'bold';
    font-size: 15px;
    margin: 0;
    color: #212121;   
}

.locationTxt{
    font-family: 'light';
    font-size: 12px;
    margin: 0;
    color: #212121; 
}

.optionContainer{
    width: 30px;
    height: 100%;
    display: flex;
}

.smallCircle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #212121;
}

.smallCircle>img{
    width: 15px;
    height: 15px;
    transform: rotate(180deg);
}

.jobCount{
    width: 100%;
    text-align: start;
    font-family: 'light';
    font-size: 11px;
    color: #b4b4b4;
    padding-left: 10px;
    margin: 0;
}

.jobTitleColored{
    background-image: linear-gradient(to right, #111C33, #2E2230);
    color: #fff;
    width: 100%;
    min-height: 100px;
    max-height: 100px; 
    border-radius: 20px 20px 0px 0px;
    margin-top: 10px; 
    display: flex;
}

.jobTitleColoredDivLeft{
    width: 75%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    -ms-flex-direction: column;
    padding-left: 20px;
    row-gap: 5px;
}

.jobTitleColoredDivLeft>h1{
    margin: 0;
    font-family: 'bold';
    color: #fff;
    font-size: 25px;
}

.jobTitleNameContainer{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.jobTitleNameContainer>span{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-family: 'bold';
}

.jobTitleNameContainer>p{
    font-family: 'bold';
    font-size: 18px;
    margin: 0;
}

.jobTitleColoredDivRight{
    width: 25%;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.jobTitleColoredDivRight>p{
    color: red;
    font-size: 15px;
    font-family: 'light';
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.applyNowBtn{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
    font-family: 'light';
    font-size: 20px;
    position: relative;
    cursor: pointer;
    background: linear-gradient(to right, #0048FF, #FF1303);
}

.applyNowBtn::before{
    position: absolute;
    content: 'Apply Now';
    border-radius: 10px;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    z-index: 10;
    background-color: #2c2231;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullDetailContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    background-color: var(--dim-bg);
    border-radius: 0px 0px 20px 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.shortDescriptionSection{
    width: 100%;
    height: fit-content;
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    -ms-flex-direction: column;
    row-gap: 8px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #3c3c3c;
}

.shortDescriptionSection>span{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.shortDescriptionSection>span>img{
    width: 20px;
    height: 20px;
}

.shortDescriptionSection>span>p{
    font-family: 'light';
    font-size: 18px;
    color: #000;
    margin: 0;
}

.skillContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    overflow-y: auto;
}

.skillContainer::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.skillContainer>p{
    border-radius: 5px;
    padding: 3px 5px;
    font-family: 'light';
    font-size: 12px;
    margin: 0;
    border: 1px solid #373737;
    min-width: fit-content;
    max-width: max-content;
}

.aboutJobDescriptionContainer{
    width: 100%;
    height: fit-content;
    background-color: var(--dim-bg);
    border-radius: 0px 0px 20px 20px;
    padding: 25px;
    padding-top: 0px;
}

.aboutJobDescriptionContainer>h1{
    font-family: 'bold';
    font-size: 25px;
    margin: 0;
    margin-top: 30px;
}

.aboutJobDescriptionContainer>p{
    font-family: 'light';
    font-size: 20px;
    margin: 0; 
    margin-top: 10px;
    margin-bottom: 30px;
}

.jobDescription{
    font-family: 'light';
    font-size: 20px;
    margin: 0; 
    margin-top: 10px;
    margin-bottom: 30px;
}


.radioUnorderedList{
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    list-style: none;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    padding-top: 20px;
    row-gap: 10px;
}

.radioUnorderedList>li{
    width: 100%;
    height: fit-content;
    font-family: 'light';
    font-size: 20px;
    display: flex;
}

.radioContainer{
    width: 20px;
    height: 100%;
    display: flex;
}

.radioContainer>img{
    width: 15px;
    height: 15px;
}

.radioText{
    width: calc(100% - 20px);
    height: 100%;
    display: flex;  
}

.applyNowBtnContainer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-left: 20px;
}

.applyNowBtnContainer>button{
    background-image: linear-gradient(to right, #111C33, #2E2230);
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.applyNowBtnContainer>button:hover{
    background-image: linear-gradient(to right, #2E2230, #111C33);
}

@media screen and (max-width: 1300px) {
    .allJobsParent{
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media screen and (max-width: 910px) {
    .leftSide{
        min-width: 400px;
    }

    .jobTypeBtn{
        width: 33.33%;
        font-size: 12px;
        cursor: none;
    }

    .jobTitle{
        font-size: 18px;
    }

    
.jobTitleColoredDivLeft>h1{
    font-size: 18px;
}


.jobTitleNameContainer>p{
    font-size: 15px;
}

.jobTitleColoredDivRight>p{
    font-size: 12px;
}
}

@media screen and (max-width: 770px) {
.parent{
    padding: 0px 8px;
    padding-top: 5rem;
}

.header>h1{
    font-size: 25px;
    color: #fff;
    margin: 0;
    font-family: 'bold';
}

.header>button{
    background-image: linear-gradient(to right, #111C33, #2E2230);
    /* height: 50px; */
    border: none;
    color: #fff;
    font-family: 'light';
    font-size: 13px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.box{
    column-gap: 5px;
}

.inputContainer{
    width: calc(100% - 40px);
}

.input{
    min-height: 40px;
    border-radius: 5px;
}

.icon{
  width: 15px;
  height: 15px;
}

.jobTypeBtn{
    font-size: 10px;
}

.selectorContainer>p{
    font-size: 10px;
}

.dropdown{
    width: 10px;
    height: 10px;
}

.selectorContainer2{
    padding: 0px 3px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 5px;
    column-gap: 3px;
}

.icon2{
  width: 15px;
  height: 15px;
}

.selectorContainer2>p{
    font-size: 12px;   
}

.dropdown2{
    width: 10px;
    height: 10px;
}
.searchBtn{
    height: 40px;
    font-size: 10px;
    border: 1px solid #c4c4c4;
    padding: 0px 15px;
    cursor: none;
}

.leftSide{
    min-width: 100%;
    padding: 0px 5px;
    max-height: fit-content;
}

.unorderedList{
    max-height: fit-content;
}

.rightSide{
    width: 100%;
    max-height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.applyNowBtnContainer>button{
    cursor: none;
}
}