.parent{
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* padding-left: 50px;
    padding-right: 50px; */
    box-sizing: border-box;
    /* background-color: red; */
    position: relative;
}