.parent{
    min-width: 100%;
    max-height: max-content;
    display: flex;
    background-image: linear-gradient(to right, #2c2231, #171d32);
    padding: 0px 100px;
    flex-direction: column;
}

.firstContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    padding-top: 1rem;
}

.firstContainer>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pointerContainer{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.pointerContainer>img{
    width: 17px;
    height: 17px;
    filter: invert(1);
    transform: rotate(360deg);
    cursor: pointer;
}

.title{
    font-family: 'light';
    color: #fff;
    font-size: 25px;
    margin: 0;
}

.firstContainer>h1{
    font-family: 'bold';
    color: #fff;
    font-size: 40px;
    padding-left: 45px;
    margin: 0;
}

.content{
    color: #e9e9e9;
    margin-top: 40px;
    font-size: 20px;
    padding-left: 45px;
    max-width: 50%;
    font-family: 'light';
}

.main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    row-gap: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.sustainibilityParent{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-left: 45px;
    height: fit-content;
 }

 .sustainabilityDiv{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
 }

 .sustainabilityDiv>h2{
    font-family: 'bold';
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
 }

 .sustainabilityDiv>p{
    font-family: 'light';
    color: #fff;
    font-size: 18px;
    margin: 0;
 }

 .videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 300px;
    max-height: 300px;
    height: 100%;
    padding-left: 30px;
    padding-right: 45px;
 }

.videoContainer>span{
    min-width: 70%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


 .footer{
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

 .footer>button{
    border: none;
    height: fit-content;
    padding: 8px 20px;
    border-radius: 3px;
    color: #fff;
    font-family: 'light';
    position: relative;
    cursor: pointer;
    background: linear-gradient(to right, #FFFFFF, #92B0FF);
}

.footer>button::before{
    position: absolute;
    content: 'Learn More';
    top: 1.5px;
    left: 1.5px;
    right: 1.5px;
    bottom: 1.5px;
    z-index: 1;
    background-color: #2c2231;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    /* background-color: green; */
}


.calendarArticle{
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  column-gap: 50px;
   box-sizing: border-box;
   padding-bottom: 30px;
   padding-left: 45px;
}

.calendarArticle>div{
    min-width: 45%;
    min-height: 750px;
    max-height: 750px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #93cdf1;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
}

.eventHeader{
    width: 100%;
    min-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: #000;
    column-gap: 20px;
}

.eventHeader>img{
    width: 70px;
    height: 70px;

}

.eventHeader>p{
    color: #fff;
    font-family: 'bold';
    font-size: 35px;
    margin: 0;
    font-weight: bold;
}

.calendarList{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: calc(750px - 12rem);
    max-height: calc(750px - 12rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    padding: 20px 0px;
    row-gap: 20px;
}

.calendarList>li{
    width: 90%;
    min-height: 170px;
    /* background-color: rgb(2, 75, 2);
    background-color: rgb(122, 4, 4); */
    border-radius: 20px;
    display: flex;
}

.firstSpan{
    min-width: 80%;
    min-height: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    border-radius: 20px 0px 0px 20px;
 }

 .firstSpan>header{
    color: #fff;
    font-family: 'light';
    font-size: 20px;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
 }

 .firstSpan>section{
    width: 100%;
    min-height: 110px;
    max-height: 110px;
    background-color: #fff;
    display: flex;
    border-radius: 0px 0px 0px 20px;
 }
 
 .iconGroupContainer{
   width: 100px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .iconGroupContainer>img{
    width: 80%;
    height: 80%;
    object-fit: cover;
 }

 .titleGroupContainer{
    min-width: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
 }

.titleGroupContainer>h2{
    font-family: 'bold';
    font-size: 25px;
    margin: 0;
    width: 100%;
}

.blockContainer{
 display: flex;
 justify-content: flex-start;
 align-items: center;
 width: 100%;
 margin-top: 10px;
 column-gap: 10px;
}

.blockContainer>img{
    width: 18px;
    height: 18px;
}

.blockContainer>p{
    margin: 0;
    font-family: 'light';
    font-size: 20px;
}

 .secondSpan{
     min-width: 20%;
     min-height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     flex-direction: column;
     border-radius: 0px 20px 20px 0px;
     color: #fff;
     font-family: 'light';
    font-size: 15px;
 }

.eventFooter{
    width: 100%;
    min-height: 5.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'bold';
    color: #fff;
    background-color: #171d32;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px -35px 30px 1px #171d32;
    -moz-box-shadow: 0px -35px 30px 1px #171d32;
    -webkit-box-shadow: 0px -35px 30px 1px #171d32;
    cursor: pointer;
}

.contactUsContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* padding-left: 45px; */
    margin-top: 30px;
}

.contactUsContainer>h1{
    font-size: 40px;
    font-family: 'bold';
    color: #fff;
    margin: 0;
}

.contactUsContainer>p{
    font-size: 20px;
    font-family: 'light';
    color: #fff;
    margin: 0; 
    margin-top: 2rem;
    max-width: 50%;
}

@media (min-width: 771px) and (max-width: 1300px) {
    .parent{
     padding: 0px 20px;
    }

    
.calendarArticle{
    column-gap: 10px;
  }
  
  .calendarArticle>div{
      min-width: 50%;
  }

.firstSpan>header{
    font-size: 15px;
    }

    .titleGroupContainer>h2{
    font-size: 18px;
}

.blockContainer>p{
    font-size: 18px;
}
}


@media screen and (max-width: 770px) {
    .parent{
        padding: 0px 10px;
    }
    .firstContainer{
        padding-top: 5rem;
    }
    .firstContainer>h1{
        font-size: 30px;
    }
    
    .content{
        max-width: 100%;
    }

    .secondContainer>h1{
        font-size: 30px;
    }

    .calendarArticle{
        flex-direction: column;
        -ms-flex-direction: column;
        row-gap: 30px;
      }

    .calendarArticle>div{
        min-width: 100%;
    }

    .firstSpan>header{
        font-size: 15px;
     }

     .titleGroupContainer{
        padding: 0px 5px;
     }
    
    .titleGroupContainer>h2{
        font-size: 15px;
    }
    
    .blockContainer>img{
        width: 15px;
        height: 15px;
    }
    
    .blockContainer>p{
        font-size: 13px;
    }
    
    .contactUsContainer>p{
        max-width: 100%;
    }

    .eventFooter{
        cursor: none;
    }
}