.parent{
    width: 100%;
    height: fit-content;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 15rem;
    background-image: linear-gradient(to right, #171d32, #2c2231);
}

.hero{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parent>h1{
    font-family: 'bold';
    font-size: 50px;
    color: #fff;
    z-index: 1;
    margin: 0;
    margin-bottom: 30px;
}

@media screen and (max-width: 770px) {
    .parent{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-top: 6rem;
    }
    .parent>h1{
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
}